/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

h1 {
    font-family: Poppins, sans-serif !important;
}

.heroBanner {
    padding: 4rem 0;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.heroBanner {
    background: #e6f5e1;
    color: #3e3b3b;
}

[data-theme='dark'] .heroBanner {
    background: rgb(184, 219, 173);
    color: #3e3b3b;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
}

.buttons a {
    background-color: #111828;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: roboto, sans-serif;
}
