/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

h1 {
    font-family: Poppins, sans-serif !important;
}

.heroBanner {
    padding: 4rem 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    color: #111828;
}

[data-theme='light'] .heroBanner {
    background: #effaf1;
    color: #111828;
}

[data-theme='dark'] .heroBanner {
    background: #b8dbad;
    color: #111828;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
}

.buttons a {
    background-color: #5f6fff;
    color: #fff;
    border: none;
    border-radius: 999px; /* 999px for a pill shape */
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}
