/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

h1 {
    font-family: Poppins, sans-serif !important;
}

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

[data-theme='light'] .heroBanner {
    background: #29252f;
    color: #fbf9ff;
}

[data-theme='dark'] .heroBanner {
    background: #29252f;
    color: #fbf9ff;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.headerGrid {
    display: grid;
    grid-template-areas:
        'title title'
        'subtitle button';
    grid-template-columns: 1fr auto;
    gap: 0.5rem 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.headerTitle {
    grid-area: title;
    padding-bottom: 2rem;
}

.headerSubtitle {
    grid-area: subtitle;
    max-width: 300px;
    word-wrap: break-word;
    text-align: left;
    font-size: large;
}

.headerButton {
    grid-area: button;
    max-width: 300px;
    justify-self: end;
    margin-top: 8px;
}
