name: Deploy preview on pull request
on: pull_request
jobs:
    build_and_preview:
        if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20.9.0
                  cache: 'npm'

            - run: npm ci
            - run: npm run build

            - uses: FirebaseExtended/action-hosting-deploy@v0
              id: deploy
              with:
                  repoToken: '${{ secrets.GITHUB_TOKEN }}'
                  firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_HW_API_DOCUMENTATION }}'
                  projectId: hw-api-documentation

            - name: Check for broken links
              id: link-report
              uses: celinekurpershoek/link-checker@v1.0.2
              with:
                  url: ${{ steps.deploy.outputs.urls }}
                  honorRobotExclusions: false
                  ignorePatterns: 'github,google'
                  recursiveLinks: false
