name: Deploy preview on pull request
on: pull_request
jobs:
    build_and_preview:
        if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 20.9.0
                  cache: 'npm'

            - run: npm ci
            - run: npm run build

            - uses: FirebaseExtended/action-hosting-deploy@v0
              with:
                  repoToken: '${{ secrets.GITHUB_TOKEN }}'
                  firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_HW_API_DOCUMENTATION }}'
                  projectId: hw-api-documentation
